body {
	/*font-family: 'Roboto', sans-serif;*/

	/*Meine Schrift*/
	/*font-family: 'Source Sans Pro 600', sans-serif;*/
	font-family: 'Source Sans Pro', sans-serif;
	color: #333;
}

img {
	max-width: 100%;
	height: auto;
}

* {
	box-sizing: border-box;
}

a {
	color: $mainOrange;
}