/*Trainer*/
.diamant-small-grey-alpha {
  color: rgba(255, 255, 255, 0.33);
  font-size: 0.8em;
  vertical-align: 0.1em;
}
/*Trainer*/





.Karte-Kiste-3D {
	/*background-color: darkgrey;*/
	border-radius: 10px;

	perspective-origin: 50% 50%;
	perspective: $pers;

	background-image: url('/assets/images/sprites/Door_Open_4.svg');
	&:hover .Einzel-Karte {transform: rotateY(180deg);}

	&:hover .Logo {transform: rotateZ(-45deg);}
	&:hover .Logo {filter: blur(0px);}

	/*Die Texte auf der Kartenrückseite sollen sanft eingeblendet werden*/
	&:hover .Karte-back-text-1 {opacity: 1.0;}
	&:hover .Karte-back-text-1 {transition: opacity $fadeText1 ease;}

	/*Die Texte auf der Kartenrückseite sollen sanft eingeblendet werden*/
	&:hover .Karte-back-text-2 {opacity: 1.0;}
	&:hover .Karte-back-text-2 {transition: opacity $fadeText2 ease;}

	/*Trainer*/
	&:hover .front0 {transition: opacity $fadeHose ease;}
	&:hover .front0b {transition: opacity $fadeHose ease;}
	/*Trainer*/

	&:hover .front1 {transition: opacity $fadeHose ease;}
	&:hover .front1b {transition: opacity $fadeHose ease;}

	&:hover .front2 {transition: opacity $fadeHose ease;}
	&:hover .front2b {transition: opacity $fadeHose ease;}

	&:hover .front3 {transition: opacity $fadeHose ease;}
	&:hover .front3b {transition: opacity $fadeHose ease;}

	&:hover .front4 {transition: opacity $fadeHose ease;}
	&:hover .front4b {transition: opacity $fadeHose ease;}

	&:hover .front5 {transition: opacity $fadeHose ease;}
	&:hover .front5b {transition: opacity $fadeHose ease;}

	&:hover .front6 {transition: opacity $fadeHose ease;}
	&:hover .front6b {transition: opacity $fadeHose ease;}

	&:hover .front1  {opacity: 0.0;}
	&:hover .front1b {opacity: 1.0;}

	&:hover .front2  {opacity: 0.0;}
	&:hover .front2b {opacity: 1.0;}

	&:hover .front3  {opacity: 0.0;}
	&:hover .front3b {opacity: 1.0;}

	&:hover .front4  {opacity: 0.0;}
	&:hover .front4b {opacity: 1.0;}

	&:hover .front5  {opacity: 0.0;}
	&:hover .front5b {opacity: 1.0;}

	&:hover .front6  {opacity: 0.0;}
	&:hover .front6b {opacity: 1.0;}
}

/*.Einzel-Karte:hover .Einzel-Karte { transform: rotateY(180deg);}*/

.Einzel-Karte {
	/*background-color: green;*/
	transition: transform 1.0s ease-in-out;
	transform-style: preserve-3d;

	width: 156px;
	height: 250px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 10px;
}





.front-gemeinsam {
	backface-visibility: hidden;
	z-index: 2;

	width: 156px;
	height: 250px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 10px;

	background-color: #fff;
	opacity: 1;
	position: absolute;

	/*&:hover .Einzel-Karte {transform: rotateY(180deg);}*/
}





/*Trainer*/
/*.front0 {
	background-image: url('/assets/images/sprites/Mensch0.svg');
}

.front0b {
	background-image: url('/assets/images/sprites/Mensch0b.svg');
}*/
/*Trainer*/




.front1 {
	background-color: #f4c6ce;
	background-image: url('/assets/images/sprites/Mensch1.svg');
}

.front1b {
	background-image: url('/assets/images/sprites/Mensch1b.svg');
}

.front2 {
	/*background-color: #a57a8d;*/
	background-image: url('/assets/images/sprites/Mensch2.svg');
}

.front2b {
	background-image: url('/assets/images/sprites/Mensch2b.svg');
}

.front3 {
	/*background-color: #bfbfbc;*/
	background-image: url('/assets/images/sprites/Mensch3.svg');
}

.front3b {
	background-image: url('/assets/images/sprites/Mensch3b.svg');
}

.front4 {
	/*background-color: #778da2;*/
	background-image: url('/assets/images/sprites/Mensch4.svg');
}

.front4b {
	background-image: url('/assets/images/sprites/Mensch4b.svg');
}

.front5 {
	/*background-color: #e59295;*/
	background-image: url('/assets/images/sprites/Mensch5.svg');
}

.front5b {
	background-image: url('/assets/images/sprites/Mensch5b.svg');
}

.front6 {
	/*background-color: #899997;*/
	background-image: url('/assets/images/sprites/Mensch6.svg');
}

.front6b {
	background-image: url('/assets/images/sprites/Mensch6b.svg');
}










.user-mund {
  position: absolute;
	top: 7.2%;
  left: 17.3%;
  /*die Änderung von width: 100% auf width: 70% verschiebt den Mund*/
  width: 70%;
  transform: rotate(-45deg);
  z-index: 3;
}

.user-mund-zwei {
  /*für den Kerl mit zwei Hosen*/
  position: absolute;
  top: 7.2%;
  left: 3.0%;
  width: 70%;
  transform: rotate(-45deg);
  z-index: 3;
 }

.Mund-knapp {
  transition: transform 1.0s;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  transform: rotate(0deg);
  transform: scale(0.005, 0.005);
  opacity: 1.0;
  transition: opacity 1.0s ease-in-out;
  transition: all 1.0s;
  transform: all 1.0s;
  fill: #4a6c8d;
  border-radius: 10px;
  /*fill: red;*/
}

.Karte-Kiste-3D:hover .Mund-knapp {
  opacity: 0.0;
  transform: rotate(90deg);
  fill: #fff;
}









.back-gemeinsam {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	transform: rotateY(180deg);

	width: 156px;
	height: 250px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 10px;

	border: 1px solid #fff;

	&:hover .Einzel-Karte {transform: rotateY(180deg);}
}

.Karte-back-text-1 {
	backface-visibility: hidden;
	position: absolute;
	top: 140px;
	text-align: center;
	left: 10px;
	right: 10px;
	z-index: 1;
	transform: rotateY(180deg);
	/*color: $mainOrange;*/
	color: #fff;
	/*opacity: 0.75;*/
	opacity: 0.0;

	font-size: 15px;
	font-weight: 400;

	@mixin at560 {
		font-size: 16px;
	}

	@mixin at1050 {
		font-size: 17px;
	}
}

.Karte-back-text-2 {
	backface-visibility: hidden;
	position: absolute;
	top: 160px;
	text-align: center;
	left: 10px;
	right: 10px;
	z-index: 1;
	transform: rotateY(180deg);
	color: #fff;

	font-size: 21px;
	font-weight: 300;

	/*opacity: 0.90;*/
	opacity: 0.0;
	
	@mixin at560 {
		font-size: 22px;
		top: 162px;
	}

	@mixin at1050 {
		font-size: 23px;
		top: 164px;
	}
}





.Logo {
	backface-visibility: hidden;
	position: absolute;
	width: 80px;
	height: 80px;
	top: 35px;
	left: 35px;
	right: 35px;
	z-index: 2;

	filter: blur(1.0px);
	transform: rotateY(180deg);
	transform: rotateZ(45deg);

	background-color: #fff;

	border-radius: 5px;
	transition: transform 2800ms cubic-bezier(.29,.44,0,1.53);
	transform-style: preserve-3d;

	/*box-shadow: 0.35rem 0.35rem 0.35rem rgba(68,68,68,0.4);*/
	box-shadow: 0.25rem 0.25rem 0.25rem rgba(55,55,55,0.8);
}

.Firmen {
	background-image: url('/assets/images/sprites/Logo-Siemens.svg');
	background-size: 70px 70px;
	background-repeat: no-repeat;
	background-position: center;
}

.Universitaeten {
	background-image: url('/assets/images/sprites/Logo-UdK-Berlin.svg');
	background-size: 70px 70px;
	background-repeat: no-repeat;
	background-position: center;
}

.Behoerden {
	background-image: url('/assets/images/sprites/Logo-Marine.svg');
	background-size: 70px 70px;
	background-repeat: no-repeat;
	background-position: center;
}

.Bildungstraeger {
	background-image: url('/assets/images/sprites/Logo-itw.svg');
	background-size: 65px 65px;
	background-repeat: no-repeat;
	background-position: center;
}

.Hochschulen {
	background-image: url('/assets/images/sprites/Logo-FH-Hannover.svg');
	background-size: 70px 70px;
	background-repeat: no-repeat;
	background-position: center;
}

.Institutionen {
	background-image: url('/assets/images/sprites/Logo-NATO.svg');
	background-size: 70px 70px;
	background-repeat: no-repeat;
	background-position: center;
}





.back1 {
	background-image: url('/assets/images/sprites/dummy_back_001.svg');
}

.back2 {
	background-image: url('/assets/images/sprites/dummy_back_002.svg');
}

.back3 {
	background-image: url('/assets/images/sprites/dummy_back_003.svg');
}

.back4 {
	background-image: url('/assets/images/sprites/dummy_back_004.svg');
}

.back5 {
	background-image: url('/assets/images/sprites/dummy_back_005.svg');
}

.back6 {
	background-image: url('/assets/images/sprites/dummy_back_006.svg');
}





.Karten-Kiste-Grid {
	/*background-color: lightgrey;*/

	display: grid;
	grid-gap: 15px;
	justify-content: center;
	/*min-width: 100%;*/
	/*min-height: 100%;*/
	min-width: 156px;
	min-height: 250px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 10px;

	@mixin at320 {
		grid-template-columns: 156px 156px;
		grid-template-rows: 250px 250px 250px;
  }

  @mixin at560 {
  	grid-template-columns: 156px 156px 156px;
		grid-template-rows: 250px 250px;
  }

	@mixin at1050 {
   	grid-template-columns: 156px 156px 156px 156px 156px 156px;
 		grid-template-rows: 250px;
	}

}





.headline {
	padding-top: 60px;
	font-size: 18px;
	font-weight: 300;
	text-align: center;

	@mixin at560 {
		font-size: 20px;
	}

	@mixin at1050 {
		font-size: 24px;
	}
}

.headline-2 {
	padding-top: 0px;
	padding-bottom: 22px;
	font-size: 18px;
	font-weight: 300;
	text-align: center;

	@mixin at560 {
		font-size: 20px;
	}

	@mixin at1050 {
		font-size: 24px;
	}
}

