/*Testweise hineinkopiert*/
#index #navi00 a,
#inhalte #navi01 a,
#teilnehmer #navi02 a,
#beispiele #navi03 a,
#trainer #navi04 a,
#fragen #navi05 a,
#kontakt #navi06 a {
  color: $MenuTextSelected;
  background-color: $MenuBackSelected;
  background-image: none;
	}
/*Testweise hineinkopiert*/

	.primary-nav {
		padding-top: 12px;

		@mixin atMedium {
			padding-top: 0;
	}

	&--pull-right {
		@mixin atMedium {
			float:right;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		@mixin clearfix;
	}

	li {
		list-style: none;
		display: inline-block;
		/*width: 112%;
		transform: translateX(-5.5%);*/
		/*width: 134%;
		transform: translateX(-13%);*/

		/*width: 116%;
		transform: translateX(-18px);*/
		
		/*Menu soll von oben nach unten reinkommen*/
		width: 116%;
		transform: translateX(-18px);

		/*padding-right: 0px;*/
		opacity: 1;
	
		@mixin atMedium {
			float: left;
			display: block;
			width: inherit;
		}
	}

	li:last-child {
		padding-right: 0;
		@mixin atMedium {
			padding-right: 22px;
		}
	}

	a {
		color: $MenuTextNotSelected;
		/*font-weight: 600;*/
		/*600 ist zu fett*/
		/*300 ist zu mager*/
		/*wenn man gar keine font-weight angibt passt die Stärke*/
		text-decoration: none;
		display: block;
		/*padding: 5px 8px;*/
		padding: 12px 14px;
		/*Versuch die Schriftgröße in der Mobil-Version anzupassen*/
		font-size: 1.1rem;
		/*width: 110%;*/
		/*background-color: rgba($MenuBackNotSelected, 0.5);*/
		background-color: $MenuBackNotSelected;
		background-image: $Verlauf;

		/*Test um die horizontale Lücke in FireFox wegzubekommen*/
		/*funktioniert*/
		margin-bottom: -1px;

		/*Test*/
		&:hover {
			color: #ffffff;
		}
						
		&:active {
			color: $mainOrange;
		}
		/*Test*/

		@mixin atMedium {
			font-size: 1.1rem;
			padding: 12px 14px;
			background-color: $MenuBackNotSelected;
			/*background-color: green;*/

			&.is-current-link {
				color: #ffffff;
				background-color: $MenuBackSelected;
				/*padding: 12px 14px;*/
			}

			/*von mir hinzugefügt*/
			&:hover {
				color: #ffffff;
			}

			/*von mir hinzugefügt*/
			/*die Reihenfolge dieser Pseudoklassen spielt eine Rolle*/
			&:active {
				color: $mainOrange;
			}

		}

	}

}