.site-header {
  /*padding: 10px 22;*/
  position: absolute;
  width: 100%;
  /*von mir hinzugefügt*/
  height: 43px;
  /*von mir hinzugefügt*/
  z-index: 2;
  transition: background-color 0.3s ease-out;
  /*Menuleiste soll auch auf kleinen Geräten sichbar bleiben*/
  /*allerdings nicht so riesig*/
  /*deswegen die height Angabe*/
  /*und die Menuleiste soll nicht mitrollen sondern fixiert bleiben*/
  position: fixed;
  background-color: $MenuBackNotSelected;
  background-image: $Verlauf;
  /*Test*/
  /*.side-header__wrapper {max-height: 100%;}*/
  /*Test*/

  &--is-expanded {
    background-color: rgba($MenuBackNotSelected, 0.8);
    background-image: $Verlauf;
    /*Test*/
    /*.side-header__wrapper {max-height: auto;}*/
    /*Test*/
  }
  
  @mixin atMedium {
    position: fixed;
    background-color: $MenuBackNotSelected;
    background-image: $Verlauf;

    &--dark {
      /*background-color: rgba($MenuBackNotSelected, .85);*/
      /*background-color: $MenuBackNotSelected;*/
      /*background-image: $Verlauf;*/
    }
  }

  &__btn-container {
    visibility: hidden;
    display: none;
    @mixin atMedium {
      float: right;
      visibility: visible;
      display: inline;
    }
  }

  &__logo {
    z-index: 50;
  	opacity: 0.7;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: transform .3s ease-out;
    transform-origin: 50% 0;

    &:hover {
			opacity: 1.0;
		}

    @mixin atMedium {
      left: auto;
      transform: translateX(0);

      .site-header--dark & {
        background-color: $MenuBackNotSelected;
        background-image: $Verlauf;
        color: $MenuTextNotSelected;
      }
    }
  }

  &__logo__graphic {
    text-indent: -9999px;
  }

  &__mobile__graphic {
    text-indent: -9999px;
  }

  &__menu-icon {
    opacity: 0.44;
    width: 20px;
    height: 19px;
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;
    top: 0px;
    right: 24px;
    transition: 0.3s ease-out;

    &:hover {
      opacity: 1.0;
    }

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-icon-2 {
    opacity: 0.44;
    width: 20px;
    height: 19px;
    position: absolute;
    z-index: 13;
    top: 10px;
    right: 10px;
    top: 0px;
    right: 24px;
    transition: 0.3s ease-out;

    &:hover {
      opacity: 1.0;
    }

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-icon--close-x {
    {
      transform: rotate(-45deg) translateX(-11.2px) translateY(3.6px) scaleX(1);
      opacity: 1.0;
    }
  }

  &__menu-icon--close-x-2 {
    {
      transform: rotate(45deg) translateX(5.3px) translateY(-10.2px) scaleX(1);
      opacity: 1.0;
    }
  }

  &__menu-content {
    /*Menu soll von oben reinkommen*/
    /*transform: translateY(-55px);*/
    /*opacity: 0.5;*/
    /*Menu soll von oben reinkommen*/



    /*2018-05-06 Test um das unsichtbar überlagerte Menu zu entfernen*/
    height: 0px;
    /*Weclhe Rolle spielt hier die Zahl für die Höhe?*/
    /*2018-05-06 Test um das unsichtbar überlagerte Menu zu entfernen*/



    opacity: 0.0;
    transform: scale(1.2);

    /*meine Versuche*/
    transform: translateY(-155px);
    /*meine Versuche*/

    transition: all 0.3s ease-out;
    position: relative;
    z-index: -10;
    padding-top: 30px;
    text-align: left;
 
    @mixin atMedium {
      opacity: 1;
      z-index: 1;
      padding-top: 0;
      transform: scale(1);
    }

    &--is-visible {
      /*Menu soll von oben reinkommen*/
      /*transform: translateY(155px);*/
      /*Menu soll von oben reinkommen*/

      opacity: 1;
      z-index: 1;
      transform: scale(1);
      /*Test*/
      width: 100%;
      


      /*2018-05-06 Test um das unsichtbar überlagerte Menu zu entfernen*/
      height: 100%;
      /*2018-05-06 Test um das unsichtbar überlagerte Menu zu entfernen*/



    }
  }
}