.site-header {
  /*padding: 10px 22;*/
  position: absolute;
  width: 100%;
  /*von mir hinzugefügt*/
  height: 40px;
  /*von mir hinzugefügt*/
  z-index: 2;
  transition: background-color .3s ease-out;
  /*Menuleiste soll auch auf kleinen Geräten sichbar bleiben*/
  /*allerdings nicht so riesig*/
  /*deswegen die height Angabe*/
  /*und die Menuleiste soll nicht mitrollen sondern fixiert bleiben*/
  position: fixed;
  background-color: $MenuBackNotSelected;
  background-image: $Verlauf;

  &__diamantgruppe {
    transform: rotate(-45deg) scaleX(1.25) translateY(1px);
    color: green;
  }

  &--is-expanded {
    background-color: rgba($MenuBackNotSelected, 0.8);
    background-image: $Verlauf;
  }
  
  @mixin atMedium {
    position: fixed;
    background-color: $MenuBackNotSelected;
    background-image: $Verlauf;

    &--dark {
      /*background-color: rgba($MenuBackNotSelected, .85);*/
      /*background-color: $MenuBackNotSelected;*/
      /*background-image: $Verlauf;*/
    }
  }

  &__btn-container {
    visibility: hidden;
    display: none;
    @mixin atMedium {
      float: right;
      visibility: visible;
      display: inline;
    }
  }

  &__logo {
    z-index: 50;
  	opacity: 0.7;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: transform .3s ease-out;
    transform-origin: 50% 0;

    &:hover {
			opacity: 1.0;
		}

    @mixin atMedium {
      left: auto;
      transform: translateX(0);

      .site-header--dark & {
        background-color: $MenuBackNotSelected;
        background-image: $Verlauf;
        color: $MenuTextNotSelected;
      }
    }
  }

  &__logo__graphic {
    text-indent: -9999px;
  }

  &__mobile__graphic {
    text-indent: -9999px;
  }

  &__menu-icon {
    width: 20px;
    height: 19px;
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;
    top: 0px;
    right: 24px;

    @mixin atMedium {
      display: none;
    }
  }

  &__menu-icon--close-x {
    {
      transform: rotate(-45deg) translateX(-10.8px) translateY(4.5px) scaleX(1);
    }
  }

  /*&__menu-icon--close-x {
    {
      transform: rotate(45deg) translateX(10.8px) translateY(-4.5px) scaleX(1);
    }
  }*/

  &__menu-content {
    opacity: 0;
    transform: scale(1.2);
    transition: all .3s ease-out;
    position: relative;
    z-index: -10;
    padding-top: 30px;
    text-align: left;
 
    @mixin atMedium {
      opacity: 1;
      z-index: 1;
      padding-top: 0;
      transform: scale(1);
    }

    &--is-visible {
      opacity: 1;
      z-index: 1;
      transform: scale(1);
      /*Test*/
      width: 100%;
    }
  }
}